<html>
    <head>
	    <title>Artograph</title>
	</head>
	<body>
	    <div>
		    <h1><a href="">Artograph: i dipinti degli attori</a></h1>
		</div>
		<div>
            <p>published: 12.12.2015, 12:08</p>
			<h2><a href="">Primo post</a></h2>
			<p>oojjjdaj djoijoijda dajoijoad ioijo daooiijoijad oijdaoijo daoijjo</p>
		</div>
		<div>
            <p>published: 12.12.2015, 12:08</p>
			<h2><a href="">Secondo post</a></h2>
			<p>oojjjdaj djoijoijda dajoijoad ioijo daooiijoijad oijdaoijo daoijjo</p>
		</div>
		<div>
            <p>published: 12.12.2015, 12:08</p>
			<h2><a href="">Terzo post</a></h2>
			<p>oojjjdaj djoijoijda dajoijoad ioijo daooiijoijad oijdaoijo daoijjo</p>
		</div>
	</body>	
</html>
